.footer{
    background: $footer-color;
    color: white;
    padding: 25px;
    &__logo{
        width: 100px;
        margin-bottom: 20px;
    }
    ul{
        li{
            margin-bottom: 12px;
            display: flex;
            flex-direction: row;
            &:hover{
                font-weight: bold;
            }
        }
        img{
            width: 12px;
            height: 12px;
            margin-right: 7px;
        }
    }
}