body{
    font-family: 'Roboto', sans-serif;
    font-size: 0.8em;
}
h1{
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 1em;
}
h2{
    font-weight: bold;
    font-size: 1.2em;
}

.menu__title__h1{
    font-family: 'Shrikhand', serif;
    font-size: 1.5rem;
}

.menu__listing__h2{
    text-transform: uppercase;
}

.menu__listing__plat h3{
    font-weight: bold;
    margin-bottom: 5px;
}