main{
    width: 100%;
}

.image_restaurant{
        width: 100%;
}

.menu{
    border-radius: 30px 30px 0 0;
    background-color: $background-color-1;
    padding: 35px 15px 80px 15px;
    display: flex;
    flex-direction: column;
    &__title{
        display: flex;
        justify-content: space-between;
        margin-bottom: 35px;
        position: relative
        &__h1{
            margin-bottom: 0;
        }
        &__heart{

            margin-right: 15px;
            &__empty{
                color:black;
                opacity: 1;
            }
            &__full{
                color: transparent;

            }
            &:hover{
                & > .menu__title__heart__empty{
                    color: transparent;
                }
                & > .menu__title__heart__full{
                    font-weight : bold;
                    background: linear-gradient(184deg, rgba(255,121,218,1) 0%, rgba(147,86,220,1) 100%); 
                    -webkit-background-clip: text;
                    color: transparent;
                }
            }
        }
    }

    &__listing{
        margin-bottom: 35px;
        &__h2{
            margin-bottom: 10px;
        }
        &__underline{
            background-color: $third-color;
            height: 3px;
            width: 40px;
            margin-bottom: 15px;
        }
        &__plat{
            border-radius: 10px;
            @include box-shadow;
            margin-bottom: 15px;
            width: 100%;

            display: flex;
            flex-direction: row;
            overflow: hidden;
            position: relative;

            animation: cardapparition 1s ease-in-out;
            
            &:hover {
                & > .menu__listing__plat__description {
                    animation: checkboxAppear 1.8s ease-in-out forwards;
                }
                & .menu__listing__plat__checkbox__logo {
                    animation: logoSpin 1.8s ease-in-out forwards;
                }
            }

            &__description{
                padding: 15px 0 15px 12px;
                position: relative;
                flex: 0.8;  
                width: 80%;
                p, h3{
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    padding-bottom: 1px;
                }
            }
            &__price{
                height: 100%;
                padding-top: 33px;
                padding-left: 20px;
                width: 20%;
                flex: 0.2; 
                font-weight: bold;
            }
            &__checkbox{
                width: 60px;
                margin-left: -60px;
                transform: translate(60px);

                background: $third-color;
                z-index: 1;
                display: flex;
                justify-content: center;
                align-items: center;

                &__logo{
                    z-index: 2;
                }
            }
        }
        .delay0{
            animation-delay: 0;
        }
        .delay1{
            animation-delay: $card-delay;
        }
        .delay2{
            animation-delay: $card-delay*2;
        }
        .delay3{
            animation-delay: $card-delay*3;
        }
        
        button{
            align-items: center;
        }
    }
}

@keyframes cardapparition {
    0% {
        transform: translateY(15px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes logoSpin {
    0%, 100%{
        transform: rotate(0);
    }
    50%{
        transform: rotate(360deg);
    }

}

@keyframes checkboxAppear {
    0%, 100%{
        flex: 0.8;
        width: 80%;
    }
    50%{
        flex: .58;
        width: 58%;
    }
}

/*


/*

background-clip: text;
-webkit-background-clip: text;
color: transparent;

.far{
   cursor: pointer;
   font-size: 1.5rem;
   transition: all 0.5s linear;  
}

.far:hover{
    font-weight : bold;
    background: linear-gradient(184deg, rgba(255,121,218,1) 0%, rgba(147,86,220,1) 100%); 
    -webkit-background-clip: text;
     color: transparent;
}




///////


background: linear-gradient(to bottom, map-get($color, secondary), map-get($color, primary));
-webkit-background-clip: text;
-moz-background-clip: text;
-webkit-text-fill-color: transparent;
*/