.loader_wrapper{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: hsla(0,0%,100%,.9);

    opacity: 1;
    z-index: 10000;

    display: flex;
    justify-content: center;
    align-items: center;

    animation: loaderDisapear 1s ease both;
    animation-delay: 2.2s;

    .loader{
        display: flex;
        flex-direction: row;

        .ball{
            width: 20px;
            height: 20px;
            margin: 0 8px;
            border-radius: 50%;

            transform: translate3d(0);
            animation: bounce 0.6s alternate forwards;
            animation-iteration-count: 3;

            &:nth-child(1){
                background-color: $third-color;
            }
            &:nth-child(2){
                animation-delay: 0.2s;
                background-color: $secondary-color;
            }
            &:nth-child(3){
                animation-delay: 0.4s;
                background-color: $primary-color;
            }
        }
    }
}

@keyframes bounce {
    to{
        transform: translate3d(0, -30px, 0);
    }
}

@keyframes loaderDisapear {
    to{
        opacity: 0;
        z-index: -10;
    }
}

.city{
    width: 100%;
    background-color: #eaeaea;
    padding: 15px;
    &__wrapper{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
        align-items: center;
        img{
            width: 16px;
            height: 16px;
        }
    }
    p{
        margin-left: 12px;
        font-size: 1em;
        font-weight: bold;
    }
}

.explore{
    background-color: #f6f6f6;
    padding: 50px 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    h1{
        text-align: center;
        font-size: 1.7em;
        margin-bottom: 0.8em;
    }
    p{
        text-align: center;
        font-size: 1em;
        margin-bottom: 1.3em;
    }
    button:hover{
        @include box-shadow-hoover;
    }
}

.functionning{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 40px 20px;

    &__step{
        background: $background-color-1;
        padding: 20px;
        margin-bottom: 2em;
        margin-left: 10px;
        border-radius: 20px;
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        @include box-shadow;

        transition: all 0.2s;
        &:hover{
            background: lighten($primary-color, 35%);
            @include box-shadow-hoover;
        }
        img{
            height: 20px;
            width: 20px;
            margin-left: 1em;
            &__hover{
                fill: $primary-color;
            }
        }
        p{
            margin-left: 1em;
            font-weight: bold;
        }
        span{
            display: block;
            width: 25px;
            height: 25px;
            position: absolute;
            left: -10px;
            text-align: center;
            background: $primary-color;
            color: white;
            border-radius: 50px;
            padding: 5px;
        }
    }
}

@media screen and (min-width: 800px){
    .functionning{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .functionning_wrapper{
        display: flex;
        flex-direction: row;
    }
    .functionning__step{
        margin-left: 50px;
    }
    .functionning h1{
        justify-items: center;
        margin-bottom: 40px;
    }
}

.restaurants{
    background: $background-color-1;
    padding: 40px 20px;

    &__card{
        height: 250px;
        margin-bottom: 18px;
        background: white;
        border-radius: 10px;
        @include box-shadow;
        position: relative;

        text-decoration: none;
        color: black;

        display: flex;
        flex-direction: column;

        transition: transform 0.2s;

        &:hover {
            transform: scale(1.01);
            @include box-shadow-hoover;
        }

        span{
            position: absolute;
            top: 12px;
            right: 12px;
            background: $third-color;
            color: darken($third-color, 30);
            border-radius: 3px;
            padding: 7px;
            font-weight: bold;
        }
        &__img{
            object-fit: cover;
            width: 100%;
            height: 175px;
            border-radius: 10px 10px 0 0;
        }
        &__text{
            background: white;
            height: 75px;
            border-radius: 0 0 10px 10px;
            padding: 16px 15px;
            display: flex;
            flex-direction: column;
            justify-content: center;

            position: relative;
            h2{
                font-weight: bold;
            }
            p{
                font-size: 1.1em;
                padding-top: 5px;
            }
            &__heart{
                position: absolute;
                top: 28px;
                right: 25px;
                &__empty{
                    color:black;
                    opacity: 1;
                    transition: all .5s;
                    z-index: 1;
                }
                &__full{
                    color: transparent;
                    z-index: 2;
                    opacity: 0;
                    transition: all .5s;
                }
                &:hover{
                    & > .restaurants__card__text__heart__empty {
                        color: transparent;
                        opacity: 0;
                    }
                    & > .restaurants__card__text__heart__full {
                        opacity: 1;
                        font-weight : bold;
                        background: linear-gradient(184deg, rgba(255,121,218,1) 0%, rgba(147,86,220,1) 100%); 
                        -webkit-background-clip: text;
                        color: transparent;
                    }
                }
            }
            img{
                position: absolute;
                top: 28px;
                right: 25px;
                height: 20px;
                width: 20px;
            }
        }
    }
}

@media screen and (min-width: 1000px){
    .restaurants{
        display: flex;
        flex-direction: column;
        align-items: center;
        h1 {
            margin-bottom: 40px;
        }
    }
    .restaurants_wrapper{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 30px;
        grid-row-gap: 30px;
    }
}

